<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="navBar">
            <a asp-page="/Home" class="homeButton">Owen Graham</a>

            <ul>
                <li class="navItem"><a asp-page="/Home">Home</a></li>
                <li class="navItem"><a asp-page="/Gallery">Gallery</a></li>
                <li class="navItem"><a asp-page="/Music">Music</a></li>
            </ul>

            <div style="margin-left: auto;">
                <ul>
                    <li class="navItem">
                        <a href="https://www.instagram.com/owen.greyham/">
                            <img src="~/icons/instagram-logo.png" alt="instagram icon">
                        </a>
                    </li>
                    <li class="navItem">
                        <a href="https://github.com/OwenGraham">
                            <img src="~/icons/github.png" alt="github icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MyWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
            <a asp-area="" asp-page="Credit">Credit</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>