html {
  font-size: 14px;
}

body, html{
  margin: 0;
  height: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navBar{
    width: 100%; 
    height: 56pt; 
    border-bottom: solid black; 
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
}

.homeButton{
    font-size: 30pt;
    margin: 13pt;
    text-decoration: none;
    color: black;
}

.navItem{
    margin: 15.5pt;
    font: 25pt comic-sans
}

.navItem a{
    text-decoration: none; 
    color: black;
}

.navItem img{
    height: 20pt;
    max-width: 20pt;
}


/*Home page*/
.container{
  width: 100%;
  margin: 0%;
  padding: 0%;
  position: relative;
  max-width: 100%;
}

.parallax{
  background-image: url("/images/parallaxBW.jpg");
  
  height: 1000px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation-name: fadeIn;
  animation-duration: 2s;
}

.parallax1{
  background-image: url("/images/parallaxColour.jpg");
  
  height: 700px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}

#intro{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  font-size: 50px;
  text-align: center;

  animation-name: fadeIn;
  animation-duration: 4s;
}

#profile{
  font-size: 30px; 
  margin: 10px;
}

#welcome{
  height: 65px;
  width: 100%;
  background: black;
  padding-top: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
}