html {
  font-size: 14px;
}

body, html{
  margin: 0;
  height: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#navBar{
    width: 100%; 
    height: 56pt; 
    border-bottom: solid black; 
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
}

.homeButton{
    font-size: 30pt;
    margin: 13pt;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.navItem{
    margin: 15.5pt;
    font: 25pt comic-sans
}

.navItem a{
    text-decoration: none; 
    color: black;
}

.navItem img{
    height: 20pt;
    max-width: 20pt;
}

h1{
  text-align: center;
  font-size: 50px;
}


/*Home page*/
.container{
  width: 100%;
  margin: 0%;
  padding: 0%;
  position: relative;
  max-width: 100%;
}

.parallax{
  background-image: url("/images/parallaxBW.jpg");
  
  height: 1000px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation-name: fadeIn;
  animation-duration: 2s;
}

.parallax1{
  background-image: url("/images/parallaxColour.jpg");
  
  height: 700px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn{
  from {opacity: 0;}
  to {opacity: 1;}
}

#intro{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  font-size: 50px;
  text-align: center;

  animation-name: fadeIn;
  animation-duration: 4s;
}

#profile{
  font-size: 30px; 
  margin: 10px;
}

#welcome{
  height: 65px;
  width: 100%;
  background: black;
  padding-top: 20px;
  color: white;
  font-size: 20px;
  text-align: center;
}

/*Photography page*/
#columns{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.numColumns{
  width: 20px;
  height: auto;
  padding: 0%;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

#gallery{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
} 

#darkenBack{
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  background-color : rgba(128,128,128,0.8);
}

#enlargedPic{
  width : fit-content;
  height : auto;
  display : block;
  margin-left : auto;
  margin-right : auto;
}

#closeButton{
  position : fixed;
  right : 10%;
  top : 10%;
  border : none;
  background : none;
  font-size : 30px;
  cursor : pointer;
}

#nextPic{
  position: fixed;
  right: 10%;
  top : 50%;
  border : none;
  background : none;
  font-size : 30px;
  cursor : pointer;
}

#prevPic{
  position: fixed;
  left: 10%;
  top : 50%;
  border : none;
  background : none;
  font-size : 30px;
  cursor : pointer;
}