@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="parallax"></div>

    <div id="intro">Owen Graham <br><p id="profile">Software Developer</p></div>

    <div id="welcome">
        <b id="welcomeText">Welcome to my website</b><br>
    </div>

    <div class="parallax1"></div>
</div>

<script>
    var observer = new IntersectionObserver(function(entries){
        if(entries[0].isIntersecting === true)
            document.querySelector('#welcomeText').animate([{opacity: 0}, {opacity: 1}], 2000,)
    }, {threshold: [0]});

    var testy = document.querySelector('#welcome');
    observer.observe(testy);
</script>
