@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="parallax"></div>

    <div id="intro">Owen Graham <br><p id="profile">Software Developer</p></div>

    <div id="welcome">
        <b id="welcomeText">Welcome to my website</b><br>
    </div>

    <div class="parallax1"></div>
</div>

<script src="js/homeScript.js"></script>
