@page
@model MyWeb.Pages.MusicModel
@{
    ViewData["Title"] = "Music";
}

<h1>Music</h1>

<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1650698199&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/owen-graham-683063018" title="Owen Graham" target="_blank" style="color: #cccccc; text-decoration: none;">Owen Graham</a> · <a href="https://soundcloud.com/owen-graham-683063018/og-track-2" title="OG track 2" target="_blank" style="color: #cccccc; text-decoration: none;">OG track 2</a></div>
<iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1555138888&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/owen-graham-683063018" title="Owen Graham" target="_blank" style="color: #cccccc; text-decoration: none;">Owen Graham</a> · <a href="https://soundcloud.com/owen-graham-683063018/og-track-1" title="OG track 1" target="_blank" style="color: #cccccc; text-decoration: none;">OG track 1</a></div>